In [1]:
x = 1

In [2]:
id(1)

94371931430528

In [3]:
id(x) == id(1)

True

In [4]:
x is 1

True

In [5]:
seq = [1, 2, 3, 4, 5]

In [6]:
1 in seq

True

In [7]:
12 in seq

False

In [8]:
name = 'merlin'

In [9]:
'r' in name

True

In [10]:
'rl' in name

True

In [11]:
'babby' in name

False

In [12]:
d = {'key': 'value', 1: 2}

In [13]:
'key' in d

True

In [14]:
1 in d

True

In [15]:
2 in d

False

In [16]:
help({}.values)

Help on built-in function values:

values(...) method of builtins.dict instance
    D.values() -> an object providing a view on D's values

In [17]:
2 in d.values()

True

In [18]:
2 < 10

True

In [19]:
10 <= 10

True

In [20]:
'test' != 'other'

True

In [21]:
'test' == 'test'

True

In [22]:
'test' + 'ing'

'testing'

In [23]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [24]:
x = 28

In [25]:
x >= 30 # 30 < x

False

In [26]:
if x >= 30:
    print('OLD BUT GOOD')
else:
    print('BRIGHT AND SHINY')

BRIGHT AND SHINY

In [27]:
'OLD BUT GOOD' if x >= 30 else 'BRIGHT AND SHINY'

'BRIGHT AND SHINY'

In [28]:
print('OLD BUT GOOD' if x >= 30 else 'BRIGHT AND SHINY')

BRIGHT AND SHINY

In [ ]:
x >= 30 or 1 in d

In [ ]:
x >= 30 and 1 in d

In [29]:
not (x >= 30)

True

In [30]:
if 0 % 2 == 0:
    print(0)
if 1 % 2 == 0:
    print(1)
if 2 % 2 == 0:
    print(2)

0
2

In [31]:
if 0 % 2 == 0:
    print(0)
elif 1 % 2 == 0:
    print(1)
elif 2 % 2 == 0:
    print(2)
else:
    print('wut')

0

In [33]:
range(10)

range(0, 10)

In [32]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
for x in range(10):
    if x % 2 == 0:
        print(x)

0
2
4
6
8

In [35]:
x

9

In [37]:
search = 128

In [38]:
for x in range(1000):
    if x % 2 == 0:
        if x > 100:
            if x < 129:
                if x > 127:
                    if x == search:
                        break

In [39]:
x

128

In [40]:
for x in range(1000):
    if x == search:
        break

In [41]:
x

128

In [42]:
for x in range(1000):
    if x % 2 == 0 and x > 100 and x < 129 and x > 127 and x == search:
        break

In [43]:
search == x

True

In [44]:
x = 0

In [47]:
while x < search:
    x = x + 1

In [48]:
x

128

In [49]:
problem = '''For every number from 1 to 100.
Print the number, unless:
 - divisible by 3 :: print "Fizz"
 - divisble by 5 ::  print "Buzz"
 - divisble by 3 and 5 :: print "FizzBuzz"'''
for x in range(1, 101):
    if x % 3 == 0 and x % 5 == 0:
        print('FizzBuzz')
    elif x % 3 == 0:
        print('Fizz')
    elif x % 5 == 0:
        print('Buzz')
    else:
        print(x)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz